/*
Fonts being used:
Headers: font-family: 'Raleway', sans-serif;
Body: font-family: 'Roboto', sans-serif;
*/

/*---------------
Main CSS
----------------*/

@media all {
  html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 375px;
    background-color: #f6f6e8;
    color: #404040;
  }

  h1, h3, h4 {
    font-family: 'Raleway', sans-serif;
  }

  h5, a {
    font-family: 'Roboto', sans-serif;
  }

  a {
    text-decoration: none;
    color: #404040;
  }

  .qr-link {
    word-wrap: break-word;
    max-width: 750px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  input {
    min-width: 500px;
    color: #404040;
    text-align: center;
  }

  button {
    margin-left: 20px;
    border-radius: 10px;
    border-color: #404040;
    color: #404040;
    text-align: center;
  }

  .tips ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .tips ul li {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

}

/*---------------
Mobile CSS
----------------*/

@media (max-device-width: 550px){

  html {
    height: 100%;
  }

  .title {
    font-size: 100px;
    margin-bottom: 20px;
  }

  img {
    width: 320px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 60px;
  }

  h4, h5 {
    font-size: 35px;
  }

  .qr-link {
    font-size: 24px;
  }

  h4 {
    margin-right: 10px;
  }

  form {
    margin-bottom: 80px;
  }

  input {
    height: 39px;
    font-size: 35px;
  }

  button {
    width: 130px;
    height: 45px;
    font-size: 35px;
  }

  .qr-ul {
    margin: 20px auto;
  }

  .instructions div {
    margin: 10px;
  }

}

/*--------------
Mobile Screen Flip
--------------*/

@media (min-device-width: 551px) and (max-device-width: 750px){

  html {
    height: 98%;
  }

  .title {
    font-size: 45px;
    margin: 60px 0 10px 0;
  }

  img {
    width: 130px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 23px;
  }

  h4, h5 {
    font-size: 18px;
  }

  .qr-link {
    font-size: 18px;
  }

  h4 {
    margin-right: 10px;
  }

  form {
    margin-bottom: 15px;
  }

  input {
    height: 25px;
    font-size: 20px;
  }

  button {
    width: 100px;
    height: 31px;
    font-size: 20px;
  }

  .qr-ul {
    margin: 10px auto;
  }

  .instructions div {
    margin: 5px;
  }

}

/*---------------
Tablet
----------------*/

@media (min-device-width: 751px) and (max-device-width: 900px){

  html {
    height: 100%;
  }

  .title {
    font-size: 55px;
    margin-bottom: 5px;
  }

  img {
    width: 130px;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 22px;
  }

  h4, h5 {
    font-size: 16px;
  }

  .qr-link {
    font-size: 14px;
  }

  h4 {
    margin-right: 10px;
  }

  form {
    margin-bottom: 15px;
  }

  input {
    height: 19px;
    font-size: 20px;
  }

  button {
    width: 75px;
    height: 25px;
    font-size: 20px;
    border-radius: 5px;
  }

  .qr-ul {
    margin: 5px auto;
  }

  .instructions div {
    margin: 5px;
  }

}

/*---------------
Web CSS
----------------*/

@media (min-device-width: 901px){

  html {
    height: 100%;
  }

  .title {
    font-size: 90px;
    margin-bottom: 15px;
  }

  img {
    width: 200px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 45px;
  }

  h4, h5 {
    font-size: 30px;
  }

  .qr-link {
    font-size: 26px;
  }

  h4 {
    margin-right: 15px;
  }

  form {
    margin-bottom: 26px;
  }

  input {
    height: 28px;
    font-size: 24px;
  }

  button {
    width: 110px;
    height: 34px;
    font-size: 28px;
    border-radius: 5px;
  }

  .qr-ul {
    margin: 10px auto;
  }

  .instructions div {
    margin: 10px;
  }

}
